<div class='com-back'>
<%if current_user%>
  <strong>You are already logged in</strong>
<%else%>
<%= form_tag '/login', {local: true} do %>
   <div class='form-group'>
   <%=text_field_tag :name, '', class: 'form-control' %>
   </div>
   <div class='form-group'>
   <%=submit_tag 'Login', class: 'btn btn-success'%>
   </div>
<%end%>
<%end%>
</div>