<div class='parent'>
<div class='text-view'>
<h1>Welcome! Create and Attend events in no time</h1>
<p>Host or Attend. Which is Easier?</p>

</div>
<div class='img-div'>
<%= image_tag 'bg' %>
</div>
</div>